<html>
    <div class="backgroundSection">
        <div class="backgroundImg">
    <head>
    </head>
    <h1>{{title}}</h1>
    <h2>{{subtitle}}</h2>
            <body>
                <div class="row">
                    <div class="column">
                        <app-new-stocks></app-new-stocks>
                    </div>
                <div class="column">
                        <app-search-box></app-search-box>
                        <app-stocks></app-stocks>
                    </div>
                </div>
             </body>
        </div>
    </div>
</html>