.background {
    padding: 20px;
    border-radius: 4px;
    width: 260pt;
    text-align: left;
    right: 75px;
    position: right;
    display:inline-block;
  }
.background.info{
    color: white;
  }
.logo{
  float:right;
}
